.reset {
   display: inline-block;
   padding: 15px 5px;
   font-size: 26px;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   color: white;
   background-color: rgb(255, 102, 102);
   border-radius: 7px;
   border: 4px solid #d7d8ff;
   cursor: pointer;
   transition: 0.3s;
   width: 200px;
   margin: 40px auto;
   user-select: none;
   box-shadow: 0px 7px 15px 0px rgb(255, 106, 106);

   &:active {
      background-color: rgb(255, 61, 61);
      transform: translateY(3px);
      box-shadow: none;
   }
}

.next {
   display: inline-block;
   padding: 15px 5px;
   font-size: 26px;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   color: white;
   background-color: rgb(104, 104, 255);
   border-radius: 7px;
   border: 4px solid #d7d8ff;
   cursor: pointer;
   transition: 0.3s;
   width: 200px;
   margin: 40px auto;
   user-select: none;
   box-shadow: 0px 7px 15px 0px rgb(36, 65, 255);

   &:active {
      background-color: rgb(74, 131, 255);
      transform: translateY(3px);
      box-shadow: none;
   }
}

#container {
   width: 400px;
   height: 400px;
   border: 1px solid rgb(0, 0, 0);
   margin: 20px auto;
   position: relative;
}

.tile {
   width: 40px;
   height: 40px;
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ball {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   cursor: pointer;
   transition: transform 0.2s;


   &:active {
      transform: translate(0px, -10px);
      transition: transform none;
      transform: scale(0.3);
   }
}

.score {
   font-family: fantasy, Arial;
   font-size: 30px;
   margin: auto;
}

.massage {
   font-family: fantasy, Arial;
   font-size: 30px;
   margin: auto;
}

#endGameMessage {
   font-family: fantasy, Arial;
   margin: auto;
   font-size: 30px;
}

.hidden {
   display: none;
}

.active {

   outline: 6px solid rgba(35, 121, 109, 0.5);

}

.step-active {
   transition: background-color 0.4s;
   background-color: rgba(255, 0, 0, 1) !important;
}

.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   transition: background-color 0.4s;
   height: 10px;
   background-color: rgba(255, 255, 255, 0.3);
   pointer-events: none;
}